# Dependances
node_modules/

# Sorties de compilation
dist/
tmp/
out-tsc/
bazel-out/

# Caches d'outils
.angular/
.sass-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de configuration IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
